<ion-content>
  <div class="voice-call-close-part">
      <ion-icon class="voice-call-close-btn" name="md-close" slot="start" (click)="closeVoiceCallWindow()"></ion-icon>
  </div>
  <div class="voice-call-main">
    
    <div class="voice-call-photo">
      <div class="voice-call-photo-img" >
        <img src="../../../../assets/photos/photo_large1.png" />
      </div>
    </div>

    <div class="voice-call-name">
      Nuray Prianka
    </div>

    <div class="voice-call-status">Caliyor...</div>

    <div class="voice-call-setting">
      <img class="voice-call-set-volume" src="../../../../assets/images/voice-call-volume.png" />
      <img class="voice-call-set-mute" src="../../../../assets/images/voice-call-unmute.png" />
    </div>

    <div class="voice-call-call">
      <img class="voice-call-button" src="../../../../assets/images/voice-call-call.png" />
    </div>
  </div>
</ion-content>
