
<ion-content >
  
  <!--div class="transform-content-header-back">
    
  </div-->

  <div class="transform-content-header">
    <div class="tranform-content-header-title">
      Banka Hesap Bilgileri
    </div>

    <div>
        <img class="transform-content-header-img" src="../../../../assets/images/bank-building-icon.png">
    </div>

    <div class="tranform-content-header-subtitle">
      Kampanya
    </div>

    <div class="tranform-content-header-content">
      3 Ayik Banka Havalesi ile odemelerde extra +15 gun bizden hediye
    </div>

    <div>
      <img class="tranform-content-header-content-img" src="../../../../assets/images/dot-icon.png">
    </div>
  </div>

  <div class="transform-content-collapse-items">
    <ion-item class="transform-content-collapse-item" lines="none">
      <ion-label>1 Aylik-99TL</ion-label>
      <ion-icon slot="end" class="transform-content-collapse-btn" color="dark-tint" name="md-arrow-dropdown"></ion-icon>
    </ion-item>

    <ion-card class="transform-content-collapse-other-item">
      <ion-item lines="none">
        <ion-label>Akbank</ion-label>
        <ion-icon slot="end" class="transform-content-collapse-btn" color="primary" name="md-arrow-dropup" (click)="displayOtherSetting()"></ion-icon>
      </ion-item>

      <div class="transform-content-bank-content">
        <div>
          <ion-label class="transform-content-bank-info-subtitle">
            Hesap Sahib : 
          </ion-label>
          <ion-label class="transform-content-bank-info-subcontent">
            Berfin Memi
          </ion-label>
        </div>
        <div>
          <ion-label class="transform-content-bank-info-subtitle">
            Sube Kodu : 
          </ion-label>
          <ion-label class="transform-content-bank-info-subcontent">
            0280
          </ion-label>
        </div>
        <div>
          <ion-label class="transform-content-bank-info-subtitle">
            Hesap No : 
          </ion-label>
          <ion-label class="transform-content-bank-info-subcontent">
            0156370
          </ion-label>
        </div>
        <div>
          <ion-label class="transform-content-bank-info-subtitle">
            IBAN : 
          </ion-label>
          <ion-label class="transform-content-bank-info-subcontent">
            TR 38 0004 6002 8088 8000 1563 70
          </ion-label>
        </div>
        <div class="transform-content-bank-info">
          <ion-label class="transform-content-bank-info-subcontent">
            IBAN numarasina tiklayarak kapyalayabilirsiniz Odemo vaptiktan sanra lutfen asagida bulunan Havale Bildirim Formunu doldurunuz
          </ion-label>
        </div>
      </div>
    </ion-card>
  </div>

  <div class="transform-content-main">
    <div>
      <ion-button class="vipdktrans-trans-form-btn">HAVALE BILDIRM FORMU</ion-button>
    </div>
    <div>
      <ion-button class="vipdktrans-later-btn">DAHA SONRA</ion-button>
    </div>
  </div>
</ion-content>
