<ion-content>
  <div class="home-header">
    <div class="home-header-title-part">
      <div class="home-header-call" id="home-header-call">
        50
      </div>
      <div class="home-header-title">Profilim</div>
      <div class="home-header-vip" id="home-header-vip">
        <ion-img src="../../../assets/images/home_header_vip_eclipse.png" (click)="displayVIPSettings()"></ion-img>
      </div>
    </div>
  </div>

  <div class="profile-content">
    <div class="profile-person-info">

      <div class="profile-photo-info">

        <div class="profile-photo-info-part">
          <div class="profile-photo-info-edit">
            <ion-icon class="profile-photo-info-edit-ico" name="md-create" color="light"></ion-icon>
          </div>

          <div class="profile-photo-info-photo">
            <img class="profile-photo-info-photo-img" src="../../../assets/photos/photo2.png" />
            <img class="profile-photo-info-photo-camera" src="../../../assets/images/camera_icon.png" />
          </div>

          <div class="profile-photo-info-setting">
            <ion-icon class="profile-photo-info-setting-ico" name="ios-settings" color="light"></ion-icon>
          </div>
        </div>

      </div>

      <div class="profile-label-info">
        <div class="profile-label-info-name-age">
          <ion-label class="profile-label-info-n-a-label">Preity, 24</ion-label>
          <ion-img class="profile-label-info-sex" src="../../../assets/images/female_icon_red.svg">
          </ion-img>
        </div>
        <div class="profile-label-info-position">
          <img class="profile-label-info-gps" src="../../../assets/images/profilim_header_gps.png" />
          Bandong, Indonesia
        </div>
        <div class="profile-label-info-email">
          ciptahus@gmail.com
        </div>
      </div>

      <div class="profile-photo-upload">
        <ion-card>
          <ion-item lines="none" class="profile-photo-upload-item">
            <img class="profile-photo-upload-avatar" slot="start"
              src="../../../assets/images/profilim_content_person.png" />
            <ion-label>
              <div class="profile-photo-upload-title">
                Fotograflarim
              </div>
              <div class="profile-photo-upload-comment">
                Fotograflarim Yukle
              </div>
            </ion-label>
            <ion-icon class="profile-photo-upload-arrow" name="arrow-forward" slot="end"></ion-icon>
          </ion-item>
        </ion-card>
      </div>

      <div class="profile-eccs-info-part" fullscreen>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class="profile-eye-info">
                <div class="profile-eccs-avatar">
                  <ion-icon name="eye" slot="start"></ion-icon>
                </div>
                <div class="profile-eccs-info">
                  <div class="profile-eye-title">
                    26
                  </div>
                  <div class="profile-eye-comment">
                    Profilini Goruntuleyenler
                  </div>
                </div>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="profile-camera-info">
                <div class="profile-eccs-avatar">
                  <ion-icon name="camera" slot="start"></ion-icon>
                </div>
                <div class="profile-eccs-info">
                  <div class="profile-camera-title">
                    29
                  </div>
                  <div class="profile-camera-comment">
                    Kamera Davetleri
                  </div>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card class="profile-call-info">
                <div class="profile-eccs-avatar">
                  <ion-icon name="call" slot="start"></ion-icon>
                </div>
                <div class="profile-eccs-info">
                  <div class="profile-call-title">
                    67
                  </div>
                  <div class="profile-call-comment">
                      Sesli Aramalar
                  </div>
                </div>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="profile-star-info">
                <div class="profile-eccs-avatar">
                  <ion-icon name="star" slot="start"></ion-icon>
                </div>
                <div class="profile-eccs-info">
                  <div class="profile-star-title">
                    32
                  </div>
                  <div class="profile-star-comment">
                    Size Begenenler
                  </div>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>

  </div>
</ion-content>