
<ion-content>
  <ion-grid class="vip-other-settings-part">
    <ion-row>
      <ion-col>
        <ion-button color="primary">Akbank</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">Enpara/Finans</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button>Finanabank</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>Garanti Bankasi</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button>Isi Bankasi</ion-button>
      </ion-col>
      <ion-col>
        <ion-button>Enpara/Finans</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <div class="vip-other-settings-result-btn">
    <div class="vip-other-settings-cancel-btn" (click)="closeOSModal()">CANCEL</div>
    <div class="vip-other-settings-ok-btn">OK</div>
  </div>
</ion-footer>